body {
  display: grid;
  grid: auto-flow min-content / 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-gap: 1em;
  margin: 1em;
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .wait{
    display: block;
    padding-right: 1em;
  }
  header .imgH{
    flex-grow: 2;
  }
  nav button{
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  body{
    margin: 2em;
  }
  #hamburgerBtn {
    display: none;
  }
  .nav {
    display: block;
    flex-grow: 3;
    margin-right: 15%;
  }
  header {
    margin-bottom: 2em;
  }
  .image{
    display: none;
  }
  .image1{
    display: block;
  }
  .section1{
    display: flex;
  }
  .main h1{
    font-size: x-large;
  }
  .section1 a{
    margin-left: 2.5em;
  }
  .pricing{
    align-items: center;
    justify-content: flex-start;
    margin-top: 12px;
  }
  .section1 h1,p{
    margin: 10px;
  }

  .section2 p{
    margin-left: 0;
  }
  .card1 {
    display: flex;
    margin: 1em 1em;
  }
  
  .section3{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3em;
  }
  .section3 h1{
    margin-top: 0;
  }
  .section3 button{
    margin-left: 0%;
  }

  .source .card {
    width: 16em;
  }
  .source {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .section5 {
    margin: 50px 0;
    display: grid;
    grid-auto-flow: column;
    grid: min-content / 1fr 1fr;
    grid-gap: 2em;
  }
  .section5 h1{
    margin-top: 0;
    margin-bottom: 0;
  }
  .section5 p{
    margin-bottom: 0;
    margin-left: 0;
  }
  .section5 button {
    margin-left: 0%;
  }
  .section5 img {
    height: 100%;
  }

  .section6 {
    padding-bottom: 40px;
  }

  .section7 {
    margin-top: 40px;
    position: relative;
  }
  .phone {
    display: block;
    position: absolute;
    right: 40px;
    bottom: 0;
  }
  .phone img{
    width: 200px;
    height: 270px;
  }
  .wait1 {
    width: 60%;
    padding-bottom: 20px;
  }
  .wait1 p{
    margin-left: 0;
  }

}

@media only screen and (min-width: 1024px) {
  .nav li {
    font-size: larger;
    font-weight: bold;
  }
  .button{
    padding: 1.1em 2.3em;
    font-weight: bold;
    font-size: large;
  }

  .section1{
    margin-bottom: 3em;
  }
  .image1{
    margin-right: 5em;
  }
  .main h1{
    font-size: xx-large;
    margin-left: 0%;
  }
  .main {
    margin-top: 10px;
  }
  .main p{
    width: 50%;
    margin: 15px 0;
    font-size: larger;
  }
  .pricing{
    margin-top: 40px;
  }

  .section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5em;
  }
  .why p{
    width: 90%;
  }
  .why h1{
    font-size: xx-large;
    margin-top: 0%;
  }
  .card1{
    flex-direction: column;
    margin: 0;
  }

  .section3{
    grid-gap: 4em;
  }
  .section3 h1{
    font-size: xx-large;
  }
  .section3 p{
    width: 80%;
  }
  .section3 button{
    margin-top: 10px;
  }
  .delivery{
    position: relative;
  }
  .second{
    position: absolute;
    right: -120px;
    top: 150px;
  }
  .second img{
    width: 80%;
    height: 80%;
  }
  
  .section4 {
    margin: 40px 0;
    padding-bottom: 40px;
  }
  .section4 h1{
    font-size: xx-large;
  }
  .section4>p{
    text-align: center;
  }
  .source{
    margin: 30px 10px;
    display: grid;
    grid-auto-flow: column;
  }

  .section5 {
    grid-gap: 5em;
    margin-left: 3em;
  }
  .section5 h1{
    font-size: xx-large;
    padding-bottom: 10px;
  }
  .section5 p{
    padding: 15px 0;
    width: 80%;
  }
  .arrow{
    width: 80%;
  }

  .section6 h1{
    font-size: xx-large;
    margin-bottom: 20px;
  }
  .section6 p{
    width: 80%;
  }
  .courier {
    padding: 0;
    border-radius: 60px;
    margin: 40px 0;
  }
  .courier button{
    padding: 1.5em 5em;
    border-radius: 60px;
    font-size: large;
    font-weight: bold;
  }
  .logos img {
    height: 130px;
    width: 130px;
  }
  .logos{
    justify-content: space-evenly;
  }
  footer{
    margin: 50px 15px;
    display: grid;
    grid-auto-flow: column;
    grid: auo-flow min-content / 1fr 2fr;
  }
  .foot{
    align-items: flex-start;
  }
  .foot p{
    width: 90%;
    margin-left: 0%;
  }
  .firstList{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2em;
  }
  .firstList li{
    margin-bottom: 10px;
  }

}
@media only screen and (min-width: 900px){
  .section7 {
    padding: 3.5em 4.5em;
  }
  .phone {
    right: 60px;
  }
  .phone img{
    width: 290px;
    height: 400px;
  }
  .wait1{
    width: 70%;
  }
  .wait1 h1{
    padding-bottom: 10px;
    font-size: xx-large;
  }
  .wait1 p{
    width: 80%;
  }
  .email{
    width: 75%;
    margin-top: 30px;
  }
  .section7 button {
    padding: 1.1em 2.5em;
  }

}

@media only screen and (min-width: 1200px){
  .source{
    grid-gap: 3em;
  }
}